/* 在 * 这里写inherit继承，就会继承body里面的属性，然后在所有DOM元素中生效 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* 1rem = 10px */
/* 浏览器默认字体大小是 16px 所以 10/16=0.625 */

html {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  /* sans-serif 无衬线字体 */
  font-family: Lato, sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}