// 排版相关文件


.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* 解决动画抖动bug */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 动画次数 */
    /* animation-iteration-count: 3; */
    /* 延迟 */
    /* animation-delay: 3s; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-transform: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  // 按文字裁剪背景
  -webkit-background-clip: text;
  color: transparent;
  // 文字间隔
  letter-spacing: .2rem;
  // 过渡属性
  transition: all .2s;

  &:hover {
    // skewY 沿Y轴倾斜
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    // 文字阴影
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}